 <h1><%= markdown @post.title %></h1> 

<div class="row">
  <div class="col-md-8">
     <small>
       <%= image_tag(@post.user.avatar.tiny.url) if @post.user.avatar? %>
       submitted <%= time_ago_in_words(@post.created_at) %> ago by
       <%= @post.user.name %>
     </small>
    <p><%= markdown @post.body %></p>
      <div class="bg-warning col-md-2">
       <%= image_tag(@post.image.thumb.url, :class => "img-rounded center-block") %>      
   </div>

  </div>
  <div class="col-md-4">
    <% if policy(@post).edit? %>
      <%= link_to "Edit", edit_topic_post_path(@topic, @post), class: 'btn btn-success' %>
    <% end %>
  </div>
</div>

  <div class="row">
    <h1>Comments</h1>    
    
      <% @post.comments.all.each do |comment| %>

      <p><%= comment.body %> <%= User.find(Post.find(@post).user_id).name %></p>

      <% end %>

    <%= render partial: 'comments/form', locals: { topic: @topic, post: @post } %>
  </div>